# Android/Gradle standard .gitignore

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Misc
*.iml
.idea/

# Android Studio captures
captures/

# User-specific configurations
*.hprof

# Java class files
*.class

# JAR files
*.jar

# Log files
*.log

# Android specific files
*.apk
*.ap_